name: Update Marine Forecast

on:
  schedule:
    - cron: "0 */3 * * *"   # de 3 em 3 horas
  workflow_dispatch:

permissions:
  contents: write

jobs:
  update-forecast:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Download latest forecast.json
        run: |
          curl -sSL "https://nunobile-cpu.github.io/marine-forecast/forecast.json" -o docs/forecast.json

      - name: Commit changes
        run: |
          git config user.name "github-actions"
          git config user.email "actions@github.com"
          git add docs/forecast.json
          git commit -m "Update forecast.json [skip ci]" || echo "No changes to commit"
          git push
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
